@import '@/globals.scss';

.link {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  svg {
    margin-top: 7px;
    color: $--gray-600;
  }
}
