@import '@/globals.scss';

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.naver_button {
  background-color: #03c75a;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.kakao_button {
  background-color: #fee500;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.sns_image {
  display: flex;
  align-items: center;
}
