@import '@/globals.scss';

.container {
  padding: 20px;
  background-color: #f4f7fb;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.dashboard {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  font-weight: bold;
}

.table th,
.table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: $--gray-700;
  color: white;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}
