@import '@/globals.scss';

.modal_content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .section {
    margin-bottom: 15px;
    border-radius: 8px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;

    h3 {
      font-size: 1.8rem;
      color: $--gray-900;
      text-align: center;
    }

    h4 {
      font-size: 1.3rem;
      margin-bottom: 12px;
      text-align: center;
      color: #333;
      width: 100%;
    }

    p {
      font-size: 1rem;
      color: $--gray-800;
      line-height: 1.6;
      margin-bottom: 10px;
      min-width: 45%;
      word-break: keep-all;
    }
  }
}
